{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Добро пожаловать в Галерею Дома Живого Чая</h1>

    {% if random_product %}
    <section class="featured">
        <h2>Вещь дня</h2>
        <div class="product">
            <img src="{{ random_product.image_url[0]}} " width="500" height="600">
            <h3>{{ random_product.name }}</h3>
            <p>{{ random_product.description | safe }}</p>
            <a href="#" class="buy-button">Купить</a>
        </div>
    </section>
    {% else %}
    <p>Нет доступных продуктов.</p>
    {% endif %}

    <a href="{{ url_for('main.gallery') }}">Перейти в галерею</a>
</div>
{% endblock %}