{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>ДЖЧ</h1>

    {% if random_product %}
    <section class="featured">
        <div class="product">
            <img src="{{ random_product.main_url}} " width="500" height="600">
            <p>{{ random_product.description | safe }}</p>
            <a href="{{ url_for('product.product', hash=random_product.hash) }}" class="buy-button">Купить</a>
        </div>
    </section>
    {% else %}
    <p>Нет доступных продуктов.</p>
    {% endif %}

</div>
{% endblock %}