<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Art LTH{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <form action="{{ url_for('main.search') }}" method="get" role="search" class="oz-search">
                  <label for="q" class="oz-vh">Поиск по описанию</label>
                      <div class="oz-search-wrap">
                        <input id="q" name="q" type="text" placeholder="Поиск по описанию…" value="{{ request.args.get('q','') }}" />
                        <button class="oz-search-btn" type="submit" aria-label="Найти">Найти</button>
                      </div>
                </form>
                <br>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">Главная</a></li>
                    <li><a href="{{ url_for('main.gallery') }}">Галерея</a></li>
                    <li><a href="{{ url_for('main.about') }}">О проекте</a></li>
                    <li><a href="{{ url_for('main.contact') }}">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>
<nav>

</nav>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
        </div>
    </footer>
</body>
</html>
